@import 'tailwindcss';

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/SFProDisplay-Regular.woff2") format("woff2");
}
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/SFProDisplay-Bold.woff2") format("woff2");
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/SFProDisplay-Black.woff2") format("woff2");
}

@theme {
    --font-sans: 'SF Pro Display', sans-serif;
    --color-primary: #BB421B;
    --color-light: #EEE7E7;
    --color-dark: #141414;
    --color-gray: #646464;
}

@layer components {
    .wrapper {
        @apply flex flex-col min-h-full overflow-clip;
    }
    main {
        @apply flex-auto w-full overflow-x-hidden;
    }
}